<h1>Template Inheritance</h1>
{% include 'menu.html' %} 




{% block content1 %}
<!-- create your contents here -->
{% endblock %}


some base contents Lorem ipsum dolor sit amet consectetur
adipisicing elit. Nesciunt quas, velit, vel veritatis soluta odio ipsum
doloremque sequi et ducimus nulla voluptas animi, dolor eaque voluptatem
cupiditate quod ipsa ab. Itaque vitae consequuntur nam asperiores doloribus
distinctio modi aut dicta corporis sapiente rerum eius alias harum obcaecati,
quia dignissimos unde deleniti sint! Exercitationem ipsam esse debitis
cupiditate veniam incidunt at, neque eius sint facilis! Sequi sunt, accusamus
tenetur nostrum eius autem neque. Soluta maxime expedita modi beatae commodi
possimus natus qui, pariatur delectus amet nobis nisi voluptate accusantium
incidunt sunt ipsum minima id ab autem aspernatur explicabo. Suscipit,
asperiores molestias? 

{% block content2 %}
<!-- create your contents here -->
{% endblock %} end ----------------------
