{% extends 'base.html' %}
{% load static %}



{% block content1 %}
<h1>List  {{ visits }} times visited </h1>

<table>
  <tr>
    <th>Place</th>
    <th>Summary</th>
    <th>Year</th>
    <th>Image</th>
    <th>Edit/Delete</th>
  </tr>
  <!-- List the data -->
  {% for x in data %}
  <tr>
    <td><p>{{ x.place|upper }}</p></td>
    <td><p>{{ x.summary }}</p></td>
    <td><p>{{ x.year }}</p></td>
    <td>
      {% if x.image %}
        <img src="{{ x.image.url }}" alt="{{ x.place }}" style="max-width: 100px; max-height: 100px;">
      {% else %}
        No Image
      {% endif %}
    </td>
    <td>
      <a href="{% url 'edit' x.id %}">Edit</a>/<a href="{% url 'delete' x.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
