<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study-2</title>
</head>
<body>
<!--Here we can get the data from views ,the data is stored in a variable as the key of views dictionary .Here the data access in double curley structure-->

<h2>name :{{name}}</h2>

<h2>age :{{age}}</h2>

<h2>gender :{{gender}}</h2>

<h2>email :{{email}}</h2>

<h2>phone :{{phone}}</h2>

<h2>address :{{address}}</h2>
</br>
<h2>city from address :{{address.city}}</h2>



</body>
</html>